:root {
  --color-blue-medium: #8fe2e4;
  --color-purple: #632ce7;
  --color-gray: #ccc;
  --color-gray-medium: #f8f9fa;
  --color-yellow: #fac32c;
}
/* General  */
a{
 text-decoration: none;
}
.eco{
  color: greenyellow;
}
.header-main{
  min-height: 100vh;
}
.container > .row{
  margin-bottom: 3rem;
}
/* nav */
.navbar-brand > img{
width: 55px;
}
.navbar-main .active{
text-decoration: underline wavy var(--color-purple);
text-underline-offset: 9px;
}
.icon-social > a{
 --size: 40px;
 width: var(--size);
 height: var(--size);
border-radius: 50px;
display: inline-flex;
justify-content: center;
align-items: center;
transition: .5s filter;
}
.bg-facebook{
  background-color: #023693;
}
.bg-twitter{
  background-color: #33a9f3;
} 
.icon-social > a:hover{
  filter: opacity(0.5);
}
.icon-service{
  --box-size: 50px;
  width: var(--box-size);
  height: var(--box-size);
  padding: 10px;
}
.portafolio-item > img{
  transition: 0.4s transform;
  border-radius: 10px;
}
.portafolio-item:hover > img{
  transform: scale(0.96);
}